
{% extends "admin_blog.twig" %}


{% block title %}
    <title>Modifier l'article</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block admin %}

    <p id="result" class="message_fixed"></p>

    <h1>Modifier l'article</h1>

    
    <form method="POST" action="{{URL}}admin_blog/edit/change_title" id="form_title_article">
        <div class="group_input">

            <div class="input_form">
                Titre de l'article
                <input type="text" name="title_article" id="title_article" placeholder="Titre de l'article" value="{{article.title}}" required/>
            </div>

            <div class="btn_form">
                <button type="submit" class="button-blue" >Changer le titre</button>
            </div>

            <input type="hidden" value="{{article.id}}" name="id_article"/>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>


    <form method="POST" action="{{URL}}admin_blog/edit/change_slug" id="form_slug_article">
        <div class="group_input">
            <div class="input_form">
                Slug
                <input type="text" name="slug_article" id="slug_article" placeholder="slug" value="{{article.slug}}" required/>
            </div>

            <div class="btn_form">
                <button type="submit" class="button-blue" >Changer le slug</button>
            </div>
        </div>

        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>

    <form method="POST" action="{{URL}}admin_blog/edit/change_photo" id="form_photo_article"  enctype= "multipart/form-data">
        <div class="group_input">
            <div class="btn_form">
                <p>image actuelle</p>
        
                <img src= "{{URL_IMG_ARTICLE}}{{article.image}}" alt="" class="img_600" id="current_img"/>
           
                <div class="btn_form">
                    <label for="image_article">Selectionner une nouvelle image</label>
                    <input type="file" name="image_article" id="image_article" accept="image/png, image/jpeg, image/jpg, image/gif"/>
                </div>
            </div>

            <div id="prev_image_block">

                <img src="" id="prev_image" class="img_600"/>
                <div class="btn_form">
                    <button class="button-blue" id="btn_form_img" type="submit">Changer l'image</button>
                    <button class="button-red"  id="delete_image">Supprimer l'image</button>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>

        


    <form method="POST" action="{{URL}}admin_blog/edit/change_description" id="form_description_article">
        <div class="group_input">
            <div class="input_form">
                <textarea type="text" name="description" id="description" placeholder="Description de l'article" required>{{article.description}}</textarea>
            </div>
        

            <div class="btn_form">
                    <button type="submit" class="button-blue">Changer la description</button>
            </div>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>


    <form method="POST" action="{{URL}}admin_blog/edit/change_content" id="form_content_article">

        <textarea id="article">{{article.content}}</textarea>

        <div class="btn_form">
            <button type="submit" class="button-blue">Modifier l'article</button>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>

    
{% endblock %}

{% block script %}
    <script src="//cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script src="{{URL}}Public/js/CKEditor.js"></script>
    <script src="{{URL}}Public/js/message_ajax.js"></script>
    <script src="{{URL}}Public/js/messag_error_ajax.js"></script>
    <script src="{{URL}}Public/js/ajax_function.js"></script>
    <script src="{{URL}}Public/js/preview_image.js"></script>
    <script src="{{URL}}Public/js/reset_photo_edit_article.js"></script>
    <script type="module" src="{{URL}}Public/js/edit_article.js"></script>
{% endblock %}