{% extends "Layout.twig" %}


{% block title %}
    <title>{{article._title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article._content}}"/>
{% endblock %}



{% block content %}

<article>

<h1>{{article._title}}</h1>

<img src="{{article._url_image}}" alt=""/>

<div>{{article._content}}</div>



</article>

<div id="form_comment">
    
    <form action="/blog/{{article._slug}}-{{article._id}}" method="post">
    
        <label for="comment_area">Commentaire:</label>
        <textarea id="comment_area" name="comment"></textarea>
        <input type="submit"/>
    </form>

</div>

{% endblock %}