{% extends "Layout.twig" %}


{% block title %}
    <title>{{article.title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article.content}}"/>
{% endblock %}



{% block content %}

<article>

<h1>{{article.title}}</h1>

<img src="{{article.url_image}}" alt=""/>

<div>{{article.content}}</div>



</article>

<div id="form_comment">
    
    <form action="/blog/{{article._slug}}-{{article._id}}" method="post">
    
        <label for="comment_area">Commentaire:</label>
        <textarea id="comment_area" name="comment"></textarea>
        <input type="submit"/>
    </form>

</div>

<div>
    {% for comment in comments %}

        <p>{{comment.comment}}</p>

        {% if comment.children %}
            {% for children in comment.children %}
               <p> {{children.comment}}</p>
            {% endfor %}
        {% endif %}
        
    {% endfor %}

</div>

{% endblock %}