{% extends "Layout.twig" %}


{% block title %}
    <title>{{article.title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article.content}}"/>
{% endblock %}



{% block content %}

<div class="wrapper">
    <div class="container">

        <article>

            <h1 class="title_article">{{article.title}}</h1>

            <img src="{{article.url_image}}" alt="" class="image_article"/>

            <div class="content_article">{{article.content}}</div>

        </article>


        

        <div id="comments">

            <div id="comment_article">
            
            <form action="{{URL}}blog/{{article.slug}}-{{article.id}}" method="post" id="form_comment">
                <input type="hidden" id="id_parent" name="id_parent" value="0"/>
                <input type="hidden" id="id_article" name="id_article" value="{{article.id}}"/>
                <textarea id="comment_area" name="comment" placeholder="Ecrivez votre commentaire"></textarea>
                <div id="btn_form">
                    <button type="submit">Envoyer</button>
                    <button id="close_form">Fermer</button>
                </div>
            </form>

            </div>

            {% for comment in comments %}

                <div class="comment_article_card" id="comment-{{comment.id}}">
                    <div class="container_comment">
                        <div class="user">
                            <img src="{{URL}}Public/images/photo_profil"  alt=""/>
                            <div>pseudo</div>
                            <div>25/01/2021 17:56</div>
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>
                    </div>
                    <div class="btn_comment">
                        <button class="btn_response" data-id="{{comment.id}}">Répondre</button><button>Signaler</button>
                    </div>
                </div>

                
                {% if comment.children %}
                
                    {% for children in comment.children %}
                        <div class="response_comment_card">
                            <div class="container_comment">
                                <div class="user">
                                    <img src="{{URL}}Public/images/photo_profil" alt=""/>
                                    <div>pseudo</div>
                                    <div>25/01/2021 17:56</div>
                                </div>
                                <div class="comment"> {{children.comment}}</div>
                            </div>
                            <div class="btn_comment"><button>Signaler</button></div>
                        </div>
                    {% endfor %}
                
                {% endif %}
                
                
            {% endfor %}

    </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{URL}}Public/js/form-comment.js"></script>
{% endblock %}