{% extends "Layout.twig" %}


{% block title %}
    <title>{{article.title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article.description_article}}"/>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="{{URL}}Public/js/comments_article/form-comment.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/menu_mobile.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/card_comment_parent.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/card_comment_child.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/create_elt_user_comment.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/form_report_comment.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/card_comment/form_delete_comment.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/add_comment.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/report_comment.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/download_comments.js"></script>
    <script defer src="{{URL}}Public/js/comments_article/delete_comment.js"></script>
    <script defer src="{{URL}}Public/js/menu_hamburger_comment.js"></script>
{% endblock %}



{% block content %}

<noscript> 
 
    <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

</noscript>

<div class="wrapper">

    {% include("Nav_bar.twig") %}
    
    <div class="container">

        <p id="result" class="message_fixed"></p>

        <article>

            <h1 class="title_article">{{article.title}}</h1>
            
            <p class="author">{{article.author}} | Publié le {{article.date_create | date("d/m/Y")}}

                {% if article.date_create != article.date_update %}
                   | Modifié le {{article.date_update | date("d/m/Y")}}
                {% endif %}
            </p>

            <div class="content_article">

            
                
                {{article.content | markdown_to_html}}
            
            
            </div>

           

        </article>


        

        <section id="comments" data-url="{{URL}}blog/get_comments" data-id-article={{article.id}}>

            <div id="form_comment_article">

                {% if session.user.account_confirmed == 1 %}
                
                <form action="{{URL}}blog/{{article.slug}}-{{article.id}}/comment" method="post" id="form_comment">
                    <input type="hidden" id="id_parent" name="id_parent" value="0"/>
                    <input type="hidden" id="id_article" name="id_article" value="{{article.id}}"/>
                    <textarea id="comment_area" name="comment" placeholder="Ecrivez un commentaire"></textarea>
                    <div id="btn_form">
                        <button type="submit" class="button-blue">Envoyer</button>
                        <button id="close_form" class="button-red">Fermer</button>
                    </div>
                </form>
                
                {% endif %}

            </div>

            <div id="comments_article">
          
            {% for comment in comments %}
                      
                <div class="comment_article_card" id="comment-{{comment.id}}">
                    <div class="container_comment">
                        <div class="user">

                            {% for user in users %}
                                {% if comment.id_user == user.id %}
                                    <img class="photo_profil" src="{{URL_IMG_AVATARS}}{{user.photo}}"  alt=""/>
                                    <div>{{user.pseudo}}</div>
                                    <div>{{comment.date_comment|date("d/m/Y")}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>
                    </div>
                    {% if session.user.account_confirmed == 1 %}
                    

                    <span class="menu_comment"><i class="fa-solid fa-list"></i></span> 

                    <div class="btn_comment_end">
                        
                        <button class="btn_response button-blue" data-id="{{comment.id}}">Répondre</button>
                        <form class="report_comment" action="{{URL}}blog/report_comment" method="post"> 
                            <button class="button-red">Signaler</button>
                            <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                        </form>

                        {% if session.user.id == comment.id_user %}
                        <form class="delete_comment" action="{{URL}}blog/delete_comment" method="post"> 
                            <button class="button-red">Supprimer</button>
                            <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                        </form>
                        {% endif %}
                    </div>

                    {% endif %}
                </div>

                
                {% if comment.children %}
                    
                    
                    {% for children in comment.children %}
                        
                        <div class="response_comment_card" id="comment-{{children.id}}" data-id-parent="{{children.id_parent}}">
                            <div class="container_comment">
                                <div class="user">

                                    {% for user in users %}
                                        {% if children.id_user == user.id %}
                                            <img class="photo_profil" src="{{URL_IMG_AVATARS}}{{user.photo}}" alt=""/>
                                            <div>{{user.pseudo}}</div>
                                            <div>{{children.date_comment|date("d/m/Y")}}</div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="comment"> {{children.comment}}</div>
                            </div>
                            {% if session.user.account_confirmed == 1 %}

                                

                                <span class="menu_comment"><i class="fa-solid fa-list"></i></span> 
                                
                                <div class="btn_comment_end">

                                    <form class="report_comment" action="{{URL}}blog/report_comment" method="post"> 
                                        <button class="button-red">Signaler</button>
                                        <input type="hidden" name="comment_id" value="{{children.id}}"/>
                                    </form>

                                    {% if session.user.id == comment.id_user %}
                                        <form class="delete_comment" action="{{URL}}blog/delete_comment" method="post"> 
                                            <button class="button-red">Supprimer</button>
                                            <input type="hidden" name="comment_id" value="{{children.id}}"/>
                                        </form>
                                    {% endif %}

                                </div>
                                
                            {% endif %}
                        </div>
                        
                    {% endfor %}
                    
                {% endif %}
                
                
            {% endfor %}
            </div>
            <div id="load_comments_msg"></div>
            

        </section>
        
    </div>
</div>
{% endblock %}

