{% extends "Layout.twig" %}


{% block title %}
    <title>{{article.title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article.content}}"/>
{% endblock %}



{% block content %}

<div id="page_article">
    <div id="main_article">

        <article>

            <h1>{{article.title}}</h1>

            <img src="{{article.url_image}}" alt=""/>

            <div id="content">{{article.content}}</div>

        </article>


        <div id="form_comment">
            
            <form action="{{URL}}blog/{{article.slug}}-{{article.id}}" method="post">
                <textarea id="comment_area" name="comment" placeholder="Ecricez votre commentaire"></textarea>
                <button type="submit">Envoyer</button>
            </form>

        </div>

        <div id="comments">

            {% for comment in comments %}

                <div class="comment_article_card">
                    <div class="container_comment">
                        <div class="user">
                            <img src="{{URL}}Public/images/photo_profil"  alt=""/>
                            <div>pseudo</div>
                            <div>25/01/2021 17:56</div>
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>
                    </div>
                    <div class="btn_comment">
                        <button class="btn_response">Répondre</button><button>Signaler</button>
                    </div>
                </div>

                
                {% if comment.children %}
                
                    {% for children in comment.children %}
                        <div class="response_comment_card">
                            <div class="container_comment">
                                <div class="user">
                                    <img src="{{URL}}Public/images/photo_profil" alt=""/>
                                    <div>pseudo</div>
                                    <div>25/01/2021 17:56</div>
                                </div>
                                <div class="comment"> {{children.comment}}</div>
                            </div>
                            <div class="btn_comment"><button>Signaler</button></div>
                        </div>
                    {% endfor %}
                
                {% endif %}
                
                
            {% endfor %}

    </div>
    </div>
</div>
{% endblock %}