{% extends "Layout.twig" %}


{% block title %}
    <title>{{article.title}}</title>
{% endblock %}



{% block description %}
    <meta name="description" content="{{article.content}}"/>
{% endblock %}



{% block content %}

<div class="wrapper">
    <div class="container">
        <p id="result" class="message_fixed"></p>
        <article>

            <h1 class="title_article">{{article.title}}</h1>

            <div class="text_center">
                <img src="{{article.url_image}}" alt="" class="image_article"/>
            </div>

            <div class="content_article">{{article.content}}</div>

        </article>


        

        <div id="comments">

            <div id="comment_article">

                {% if session.user.account_confirmed == 1 %}
                
                <form action="{{URL}}blog/{{article.slug}}-{{article.id}}/comment" method="post" id="form_comment">
                    <input type="hidden" id="id_parent" name="id_parent" value="0"/>
                    <input type="hidden" id="id_article" name="id_article" value="{{article.id}}"/>
                    <textarea id="comment_area" name="comment" placeholder="Ecrivez votre commentaire"></textarea>
                    <div id="btn_form">
                        <button type="submit">Envoyer</button>
                        <button id="close_form">Fermer</button>
                    </div>
                </form>
                
                {% endif %}

            </div>
          
            {% for comment in comments %}
                      
                <div class="comment_article_card" id="comment-{{comment.id}}">
                    <div class="container_comment">
                        <div class="user">

                            {% for user in users %}
                                {% if comment.id_user == user.id %}
                                    <img class="photo_profil" src="{{user.url_photo}}"  alt=""/>
                                    <div>{{user.pseudo}}</div>
                                    <div>{{comment.date_comment|date("d/m/y")}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>
                    </div>
                    {% if session.user.account_confirmed == 1 %}
                    <div class="btn_comment_end">
                        <button class="btn_response" data-id="{{comment.id}}">Répondre</button><button class="button-red">Signaler</button>
                    </div>
                    {% endif %}
                </div>

                
                {% if comment.children %}
                
                    {% for children in comment.children %}
                        <div class="response_comment_card">
                            <div class="container_comment">
                                <div class="user">

                                    {% for user in users %}
                                        {% if children.id_user == user.id %}
                                            <img class="photo_profil" src="{{user.url_photo}}" alt=""/>
                                            <div>{{user.pseudo}}</div>
                                            <div>{{children.date_comment|date("d/m/y")}}</div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="comment"> {{children.comment}}</div>
                            </div>
                            {% if session.user.account_confirmed == 1 %}
                            <div class="btn_comment_end"><button class="button-red">Signaler</button></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                
                {% endif %}
                
                
            {% endfor %}

    </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{URL}}Public/js/form-comment.js"></script>
    <script src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script src="{{URL}}Public/js/message_error.js"></script>
    <script src="{{URL}}Public/js/message_ajax.js"></script>
    <script src="{{URL}}Public/js/add_comment.js"></script>
{% endblock %}