
{% extends "admin_blog.twig" %}


{% block title %}
    <title>Modifier l'article</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block script %}

    
    {% include ("summernote_cdn.twig") %}

    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/summernote.js"></script>
    <script defer src="{{URL}}Public/js/add_image_summernote.js"></script>
    <script defer src="{{URL}}Public/js/controle_image.js"></script>
    <script defer src="{{URL}}Public/js/preview_image.js"></script>
    <script defer src="{{URL}}Public/js/delete_article.js"></script>
    <script defer src="{{URL}}Public/js/function_change_img_event.js"></script>
    <script defer src="{{URL}}Public/js/edit_article.js"></script>
    <script defer src="{{URL}}Public/js/menu_admin_mobile.js"></script>

{% endblock %}


{% block menu_admin_mobile %}

{% endblock %}

{% block admin %}


<div class="panel_admin">

    <noscript> 
    
        <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

    </noscript>

    <p id="result" class="message_fixed"></p>

    <h1>Modifier l'article</h1>

    
    <form method="POST" action="{{URL}}admin_blog/edit/change_title" id="form_title_article">
        <div class="group_input">

            <div class="input_form">
                Titre de l'article
                <input type="text" name="title_article" id="title_article" placeholder="Titre de l'article" value="{{article.title}}" required/>
            </div>

            <div class="btn_form">
                <button type="submit" class="button-blue" >Changer le titre</button>
            </div>

            <input type="hidden" value="{{article.id}}" name="id_article"/>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>


    <form method="POST" action="{{URL}}admin_blog/edit/change_slug" id="form_slug_article">
        <div class="group_input">
            <div class="input_form">
                Slug
                <input type="text" name="slug_article" id="slug_article" placeholder="slug" value="{{article.slug}}" required/>
            </div>

            <div class="btn_form">
                <button type="submit" class="button-blue" >Changer le slug</button>
            </div>
        </div>

        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>

    <form method="POST" action="{{URL}}admin_blog/edit/change_photo" id="form_photo_article"  enctype= "multipart/form-data">
        <div class="group_input">
            <div class="btn_form">
                <p>image actuelle</p>
        
                <img src= "{{URL_IMG_ARTICLE}}{{article.image_article}}" alt="" id="current_img"/>
           
                <div class="btn_form">
                    <label for="image_article">Selectionner une nouvelle image</label>
                    <input type="file" name="image_article" id="image_article" accept="image/png, image/jpeg, image/jpg, image/gif"/>
                </div>
            </div>

            <span id="controle_img_msg"></span>
            <div id="prev_image_block">

                <img src="" id="prev_image"/>
                <div class="btn_form">
                    <button class="button-blue" id="btn_form_img" type="submit">Changer l'image</button>
                    <button class="button-red"  id="delete_image">Supprimer l'image</button>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>

        


    <form method="POST" action="{{URL}}admin_blog/edit/change_description" id="form_description_article">
        <div class="group_input">
            <div class="input_form">
                <textarea type="text" name="description" id="description" placeholder="Description de l'article" required>{{article.description_article}}</textarea>
            </div>
        

            <div class="btn_form">
                    <button type="submit" class="button-blue">Changer la description</button>
            </div>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article"/>
    </form>


    <form method="POST"  id="form_content_article" action="{{URL}}admin_blog/edit/change_content">

        <textarea id="textaera_summernote" name="content_article" data-url="{{URL}}summernote/add_image_summernote" required>{{article.content}}</textarea>

        <div class="btn_form">
            <button type="submit" class="button-blue">Modifier l'article</button>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article" id="id_article"/>
    </form>


    <form method="POST" id="delete_article" action="{{URL}}admin_blog/edit/delete_article">
        <div class="btn_form">
            <button type="submit" class="button-red">Supprimer l'article</button>
        </div>
        <input type="hidden" value="{{article.id}}" name="id_article" id="id_article"/>
    </form>
</div>
    
{% endblock %}

