
{% extends "Layout.twig" %}


{% block title %}
    <title>Blog - Accueil</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="{{URL}}Public/js/scroll_to_blog.js"></script>
{% endblock %}

{% block content %}

    <header>
        
        <div id="header-wrapper">
        
            {% include ("Nav_bar.twig") %}

            <div class="intro_blog">
                <p>BLOG</p>
                {# <a href="#" id="chevron"> #}
                <i class="fa fa-chevron-down" id="chevron"></i>
                {# </a> #}
            </div>
            
        
        </div>
    </header>

    <section id="blog">

        <form id="block_searchbar" method="GET" action="{{URL}}rechercher">
        
            <input id="searchbar" class="searchbar_movie" type="text"
            name="query" placeholder="Rechercher un film, réalisateur, acteur...">
            <input type="submit" value="rechercher"/>
        </form>
    

        <div id="posts">
            {% for article in articles %}
            <article>
                <a href="{{URL}}blog/{{article.slug}}-{{article.id}}">
                    <div class="post">
                        <div class="img_bg" style="background-image:url({{article.image_article}})"></div>
                    </div>
                    <div class="post_infos">
                        <span>🤵🏻 {{article.author}}</span>
                        <span>🗓️ {{article.date_create|date("d/m/Y")}}</span>
                    </div>
                    <h1>{{article.title}}</h1>
                    <p>{{article.description_article}}</p>
                </a>
            </article>
            {% endfor %}
        </div>



        <div id="pagination">

            {% if current_page >= 2 %}

                <a href="{{URL}}?page={{current_page - 1}}#blog"><button class="button-blue">Page précédente</button></a>

            {% endif %}

            {% if current_page < pages_total %}

                <a href="{{URL}}?page={{current_page + 1}}#blog"><button class="button-blue">Page suivante</button></a>

            {% endif %}

        </div>

    </section>

    

    
{% endblock %}

