{% extends "admin_blog.twig" %}

{% block title %}

    <title>Créer un article</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}

{% block script %}

    {% include ("summernote_cdn.twig") %}
    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/add_image_summernote.js"></script>
    <script defer src="{{URL}}Public/js/summernote.js"></script>
    <script defer src="{{URL}}Public/js/preview_image.js"></script>
    <script defer src="{{URL}}Public/js/controle_image.js"></script>
    <script defer src="{{URL}}Public/js/function_change_img_event.js"></script>
    <script defer src="{{URL}}Public/js/create_article.js"></script>
    <script defer src="{{URL}}Public/js/menu_admin_mobile.js"></script>
    

{% endblock %}

{% block admin %}

 <div class="panel_admin">

    <noscript> 
    
        <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

    </noscript>

    <h1>Rédiger un article</h1>

    <p id="result" class="message_fixed"></p>

    {% if session.flash.response %}
        <div class="{{session.flash.response.attribute}} message">{{session.flash.response.message}}</div>
    {% endif %}

    <form method="post" action="{{URL}}admin_blog/create_article" id="create_article" enctype= "multipart/form-data">

        <div class="group_input">
            
            <div class="input_form">
                Titre de l'article
                <input type="text" name="title_article" id="title_article" placeholder="Titre de l'article" required/>
            </div>

            <div class="input_form">
                Slug
                <input type="text" name="slug_article" id="slug_article" placeholder="Slug de l'article" required/>
            </div>

            <div class="btn_form">
                <label for="image_article">Selectionner une image</label>
                <span id="controle_img_msg"></span>
                <input type="file" name="image_article" id="image_article" accept="image/png, image/jpeg, image/jpg, image/gif"/>

                <div id="prev_image_block">
                    <img src="" id="prev_image"/>
                </div>

            </div>

            <div class="input_form">
                <textarea type="text" name="description" id="description" placeholder="Description de l'article" required></textarea>
            </div>

            

        </div>

        <textarea id="article" name="content_article" required placeholder="Contenu de l'article" data-url="{{URL}}summernote/add_image_summernote"></textarea>

        
        
        <div class="btn_form">
            <button type="submit" class="button-blue">Publier l'article</button>
        </div>

    </form>
</div>
{% endblock %}

