{% extends "admin_blog.twig" %}

{% block title %}

    <title>Créer un article</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}

{% block script %}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--bootstrap CDN-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script defer src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>


    <script defer src="{{URL}}Public/js/summernote.js"></script>
    <script defer src="{{URL}}Public/js/preview_image.js"></script>
    <script defer src="{{URL}}Public/js/create_article.js"></script>

{% endblock %}

{% block admin %}

<noscript> 
 
    <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

</noscript>

    <h1>Rédiger un article</h1>

    <p id="result" class="message_fixed"></p>

    {% if session.flash.response %}
        <div class="{{session.flash.response.attribute}} message">{{session.flash.response.message}}</div>
    {% endif %}

    <form method="post" action="{{URL}}admin_blog/create_article" id="create_article" enctype= "multipart/form-data">

        <div class="group_input">
            
            <div class="input_form">
                Titre de l'article
                <input type="text" name="title_article" id="title_article" placeholder="Titre de l'article" required/>
            </div>

            <div class="input_form">
                Slug
                <input type="text" name="slug_article" id="slug_article" placeholder="Slug de l'article" required/>
            </div>

            <div class="btn_form">
                <label for="image_article">Selectionner une image</label>
                <span id="img_check"></span>
                <input type="file" name="image_article" id="image_article" accept="image/png, image/jpeg, image/jpg, image/gif"/>

                <div id="prev_image_block">
                    <img src="" id="prev_image" class="img_600"/>
                </div>

            </div>

            <div class="input_form">
                <textarea type="text" name="description" id="description" placeholder="Description de l'article" required></textarea>
            </div>

            

        </div>

        <textarea id="article" name="content_article" required placeholder="Contenu de l'article"></textarea>

        
        
        <div class="btn_form">
            <button type="submit" class="button-blue">Publier l'article</button>
        </div>

    </form>

{% endblock %}

