{% extends "Layout.twig" %}

{% block title %}

    <title>Créer un compte</title>

{% endblock %}

{% block description %}

    <meta name="description" content="Inscrivez-vous sur le site du cinéma"/>

{% endblock %}

{% block script %}
    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/loading_ajax.js"></script>
    <script defer src="{{URL}}Public/js/safe_password.js"></script>
    <script defer src="{{URL}}Public/js/form_inscription.js"></script>
{% endblock %}


{% block content %}

<noscript> 
 
    <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

</noscript>

        <div class="wrapper">


        {% include ("Nav_bar.twig") %}

        
            <div class="container">
    
                <div class="block_form">
                    <h1>Inscrivez-vous</h1>
                    <form id="form_inscription" action="{{URL}}inscription" method="post">

                        <div class="input_form">
                            <label for="pseudo">Pseudo</label>
                            <input type="text" id="pseudo" name="pseudo" required/>
                        </div>

                        <div class="input_form">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" required/>
                        </div>

                        <div class="input_form">
                            <label for="password_1">Mot de passe</label>
                            <input type="password" id="password_1" name="password_1" required/>
                        </div>
                        

                        <div class="input_form">
                            <label for="password_2">Mot de passe </label>
                            <input type="password" id="password_2" name="password_2" required/>
                        </div>

                        <div class="btn_form_center">
                            <button type="submit" class="button-blue" name="form_submit">Valider</button>
                        </div>
                        <p id="message_password">Mot de passe <br><span class="invalid" id="upper_case">- 1 lettre majuscule</span><br>
                        <span class="invalid" id="lower_case">- 1 lettre minuscule</span><br>
                        <span class="invalid" id="number">- 1 chiffre</span><br>
                        <span class="invalid" id="special_character">- Caractères spéciaux (@?!_%()#)</span><br>
                        <span class="invalid" id="length_password">- 12 caractères</span></p>
                    </form>

                    <p id="result" class="message"></p>
                </div>
            </div>
        </div>
            
{% endblock %}

