<!doctype html>
  <html lang="fr">

    <head>
      <meta charset="utf-8">
      <link rel="apple-touch-icon" sizes="180x180" href="{{URL}}Public/images/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="{{URL}}Public/images/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="{{URL}}Public/images/favicon/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="{{URL}}images/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      {% block title %}
      {% endblock %}
      
      {% block description %}
      {% endblock %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script defer src="{{URL}}Public/js/navbar_mobile.js"></script>
      
      {% block script %}
        
      {% endblock %}
      
      <link rel="stylesheet" href="{{URL}}Public/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    
        {% block content %}
          
          
        
        {% endblock %}

        {% include ("footer.twig") %}   
        
        
    </body>
  </html>