{% extends "admin_blog.twig" %}

{% block title %}

    <title>Créer un article</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}


{% block script %}

    <script defer src="{{URL}}Public/js/menu_admin_mobile.js"></script>

{% endblock %}



{% block admin %}

<div class="panel_admin panel_list_article">

    {% for article in articles %}

        <div class="article_card">

            <div class="content_card">

                <img class="img_article" src="{{URL_IMG_ARTICLE}}{{article.image_article}}" alt="image presentation de l'article"/>

                <div class="content_card_article">
                    <h3>{{article.title}}</h3>
                    <p>{{article.description_article | u.truncate(50, '...', false)}}</p>

                    <div class="info_article">
                        <div>Date de publication: {{article.date_create|date("d/m/Y")}}</div>
                        {% if article.date_create != article.date_update %}
                            <div>Date de modification: {{article.date_update|date("d/m/Y")}}</div>
                        {% endif %}
                        <div>Auteur: {{article.author}}</div>
                    </div>
                </div>
            </div>
            <div class="btn_edit">
                <a href="{{URL}}admin_blog/edit/{{article.id}}" class="link_blue">
                    Modifier
                </a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}