
    <nav class="nav_bar">
        <a href="{{URL}}"><img src="{{URL}}Public/images/clap.svg" class="logo" alt="logo"/></a>

        <ul>
            {% if session.user %}

            <li><a href="{{URL}}setting"><img src="{{URL_IMG_AVATARS}}{{session.user.photo}}" alt="photo de profil" class="photo_profil" id="photo_navbar"/>{{session.user.pseudo}}</a></li>

                {% if session.user.type_user == "admin" %}
                    <li><a href="{{URL}}admin_blog/modifier_article"><i class="fas fa-sign-out-alt"></i>Gérer le blog</a></li>
                {% endif %}
            
            <li><a href="{{URL}}disconnect"><i class="fas fa-sign-out-alt"></i>SE DECONNECTER</a></li>
            {% endif %}

            {% if not session.user %}
            <li><a href="{{URL}}inscription">S'INSCRIRE</a></li>
            <li><a href="{{URL}}connection">SE CONNECTER</a></li>
            {% endif %}
        </ul>
    </nav>
