
{% extends "admin_blog.twig" %}


{% block title %}
    <title>Commentaires signalés</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block script %}

    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/comments_reported.js"></script>
    <script defer src="{{URL}}Public/js/menu_admin_mobile.js"></script>
    <script defer src="{{URL}}Public/js/menu_hamburger_comment.js"></script>

{% endblock %}

{% block admin %}

<div class="panel_admin">

    <noscript> 
    
        <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

    </noscript>

    <p id="result" class="message_fixed"></p>

    {% if comments_reported is empty %}

        <p class="message">Aucun commentaire signalé</p>

    {% endif %}


    {% for comment_reported in comments_reported %}

        <div class="comment_article_card">

            <div class="container_comment">
                <div class="user">

                    {% for user in users %}
                        {% if comment_reported.id_user == user.id %}
                            <img class="photo_profil" src="{{URL_IMG_AVATARS}}{{user.photo}}"  alt=""/>
                            <div>{{user.pseudo}}</div>
                            <div>{{comment_reported.date_comment|date("d/m/y")}}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="comment">
                    {{comment_reported.comment}}
                </div>
            </div>

            <span class="menu_comment"><i class="fa-solid fa-list"></i></span> 
        
            <div class="btn_comment_end">

                <form class="approve_comment" action="{{URL}}admin_blog/approve_comment" method="post"> 
                    <button class="button-blue">Approuver</button>
                    <input type="hidden" name="comment_id" value="{{comment_reported.id}}"/>
                </form>

                
                <form class="delete_comment" action="{{URL}}admin_blog/delete_comment" method="post"> 
                    <button class="button-red">Supprimer</button>
                    <input type="hidden" name="comment_id" value="{{comment_reported.id}}"/>
                </form>
                
            </div>
            Commentaire signalé par {{comment_reported.count_reported}} utilisateurs
            
        </div>

    {% endfor %}


    </div>

    
{% endblock %}

