{% extends "Layout.twig" %}


{% block title %}
    <title>Réinitialiser mot de passe</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}



{% block content %}

<noscript> 
 
    <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

</noscript>

    <div class="wrapper">

    {% include ("Nav_bar.twig") %}
    
        <div class="container">


            <div class="block_form">
                <h1>Creation nouveau mot de passe</h1>

                <form action="{{URL}}reset_password" method="post" id="reset_password">
                    <div class="input_form">
                        <label for="new_password">mot de passe</label>
                        <input type="password" id="new_password" name="new_password" required/>
                    </div>

                    <div class="input_form">
                        <label for="confirm_password">Confirmation</label>
                        <input type="password" id="confirm_password" name="confirm_password" required/>
                    </div>

                    <input type="hidden" value="{{key_account}}" name="key_account"/>

                    <div class="btn_form_center">
                        <button type="submit" class="button-blue" name="form_submit">Valider</button>
                    </div>
                
                </form>

                <p id="message_password">Mot de passe <br><span class="invalid" id="upper_case">- 1 lettre majuscule</span><br>
                        <span class="invalid" id="lower_case">- 1 lettre minuscule</span><br>
                        <span class="invalid" id="number">- 1 chiffre</span><br>
                        <span class="invalid" id="special_character">- Caractères spéciaux (@?!_%()#)</span><br>
                        <span class="invalid" id="length_password">- 12 caractères</span>
                </p>

        
                <p>
                    <a href="{{URL}}">Revenir à l'accueil</a>
                </p>

                
                <p class="message" id="result">{{session.flash.error_connect}}</p>
                
              
                
            </div>
        </div>
    
    </div>


{% endblock %}

{% block script %}
    <script src="{{URL}}Public/js/message_ajax.js"></script>
    <script src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script src="{{URL}}Public/js/message_error.js"></script>
    <script src="{{URL}}Public/js/safe_password.js"></script>
    <script src="{{URL}}Public/js/reset_password.js"></script>
    
{% endblock %}