{% extends "Layout.twig" %}


{% block title %}
    <title>Réinitialiser mot de passe</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}



{% block content %}

    <div class="wrapper">
    
        <div class="container">


            <div class="center-vertical w30">
                <h1>Mot de passe</h1>

                <form action="{{URL}}reset_password" method="post" id="reset_password">
                    <div class="input_form">
                        <label for="new_password">Nouveau mot de passe</label>
                        <input type="password" id="new_password" name="new_password" required/>
                    </div>

                    <div class="input_form">
                        <label for="confirm_password">Confirmer mot de passe</label>
                        <input type="password" id="confirm_password" name="confirm_password" required/>
                    </div>

                    <input type="hidden" value="{{key_account}}" name="key_account"/>

                    <div class="btn_form_center">
                        <button type="submit" name="form_submit">Valider</button>
                    </div>
                
                </form>

                <p id="message_password">Mot de passe: <span class="invalid" id="upper_case">1 lettre majuscule</span>,
                    <span class="invalid" id="lower_case">1 lettre minuscule</span>,
                    <span class="invalid" id="number">1 chiffre</span>,
                    <span class="invalid" id="special_character">Caractères spéciaux (@?!_%()#)</span>,
                    <span class="invalid" id="length_password">12 caractères</span>
                </p>

                <p>
                    <a href="{{URL}}">Revenir à l'accueil</a>
                </p>

                
                <p class="message" id="result">{{session.flash.error_connect}}</p>
                
              
                
            </div>
        </div>
    
    </div>


{% endblock %}

{% block script %}
    <script src="{{URL}}Public/js/message_ajax.js"></script>
    <script src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script src="{{URL}}Public/js/message_error.js"></script>
    <script src="{{URL}}Public/js/safe_password.js"></script>
    <script src="{{URL}}Public/js/reset_password.js"></script>
    
{% endblock %}