{% extends "Layout.twig" %}


{% block title %}
    <title>Configuration compte</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block script %}
    <script defer src="{{URL}}Public/js/loading_ajax.js"></script>
    <script defer src="{{URL}}Public/js/safe_password.js"></script>
    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error.js"></script>
    <script defer src="{{URL}}Public/js/form_setting_user.js"></script>
{% endblock %}



{% block content %}

<noscript> 
 
    <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

</noscript>

    
    <div class="wrapper">

    {% include ("Nav_bar.twig") %}
    
        <div class="container">

        <p id="result" class="message_fixed"></p>
           
            <section class="setting">

                <h1>Modifier pseudo</h1>
                <form id="form_pseudo" action="{{URL}}setting/change_pseudo"  method="post">
                    <div class="input_form">
                        <label for="pseudo">Nouveau pseudo</label>
                        <input type="text" id="pseudo" name="new_pseudo" required/>
                    </div>
                    <div class="input_form">
                        <button type="submit" class="button-blue" name="pseudo_form">Valider</button>
                    </div>
                </form>
            </section>


            <section class="setting">
                <h1>Modifier email</h1>
                <form id="form_email" action="{{URL}}setting/change_email"  method="post">
                    <div class="input_form">
                        <label for="email">Nouvelle adresse email</label>
                        <input type="email" id="email" name="new_email" required/>
                    </div>
                    <div class="input_form">
                        <label for="email_confirm">Confirmer nouvelle adresse email</label>
                        <input type="email" id="email_confirm" name="email_confirm" required/>
                    </div>
                    
                    <div class="input_form">
                        <button type="submit" class="button-blue" name="email_form">Valider</button>
                    </div>
                </form>
            </section>

            <section class="setting">
                <h1>Modifier le mot de passe</h1>
                <form id="form_password" action="{{URL}}setting/change_password"  method="post">
                    <div class="input_form">
                        <label for="current_password">Mot de passe actuel</label>
                        <input type="password" id="current_password" name="current_password" required/>
                    </div>

                    <div class="input_form">
                        <label for="new_password">Nouveau mot de passe</label>
                        <input type="password" id="new_password" name="new_password" required/>
                    </div>

                    <div class="input_form">
                        <label for="confirm_new_password">Confirmation du nouveau mot de passe</label>
                        <input type="password" id="confirm_new_password" name="confirm_new_password" required/>
                    </div>
                    <p id="message_password">Mot de passe: <span class="invalid" id="upper_case">1 lettre majuscule</span>,
                     <span class="invalid" id="lower_case">1 lettre minuscule</span>,
                     <span class="invalid" id="number">1 chiffre</span>,
                      <span class="invalid" id="special_character">Caractères spéciaux (@?!_%()#)</span>,
                       <span class="invalid" id="length_password">12 caractères</span></p>
                    <div class="input_form">
                        <button type="submit" class="button-blue" name="password_form">Valider</button>
                    </div>
                </form>
            </section>


            <section class="setting">
                <h1>Changer d'avatar</h1>
                <form action="{{URL}}setting/change_photo" id="photo_profil" method="post" enctype= "multipart/form-data">

                    <div class="input_form">
                        <input type="file" name="photo" id="photo"/>
                    </div>

                    <div class="input_form">
                        <button type="submit" class="button-blue">Valider</button>
                    </div>
                </form>
            </section>


            <section class="setting">
                <h1>Supprimer le compte</h1>
                <form id="form_delete_account" action="{{URL}}setting/delete" method="GET">
                    <div class="input_form">
                        <button type="submit" class="button-red">Supprimer</button>
                    </div>
                </form>
            </section>
        
        </div>
    </div>


{% endblock %}

