{% extends "admin_blog.twig" %}

{% block title %}

    <title>Utilisateurs</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}

{% block admin %}

    <h1>Rechercher un utilisateur</h1>

    
    <form id="search_user" action="{{URL}}admin_blog/recuperer_utilisateur">

        <div class="input_form search">
            <input id="search_user_input" type="text" placeholder="Saisir le pseudo de l'utilisateur" data-search-url="{{URL}}admin_blog/recherche_utilisateur"/> 
        </div>

   
        <div id="search_result">

            
            
        </div>

    </form>

    <div id="user_info">
        <img src="" id="photo_user"/>
        <div id="pseudo"></div>
        <div id="date_inscription"></div>
        <div id="type_user"></div>
    </div>

    <div id="forms">

        <form id="form_type_user" action="{{URL}}admin_blog/type_user">
            <input type="hidden" name="id_user" value=""/>
            <div>
                <label>Changer le type de cet utilisateur</label>
                <select name="type_user">
                    <option value="user">Utilisateur</option>
                    <option value="editor">Rédacteur</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <button type="submit" class="button-blue">Appliquer le changement</button>
        </form>


        <form id="send_message" action="{{URL}}admin_blog/contact_user">
            <input type="hidden" name="id_user" value=""/>
            <textarea id="message_user"></textarea>
            <button class="button-blue">Envoyer le message</button>

        </form>

        <form id="delete_user" action="{{URL}}admin_blog/delete_user">
            <input type="hidden" name="id_user" value=""/>
            <button class="button-red">Supprimer cet utilisateur</button>
        </form>
    
    
    </div>

    

    

{% endblock %}


{% block script %}
    <script src="{{URL}}Public/js/search_user.js"></script>
    <script src="//cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'message_user' );
    </script
{% endblock %}