{% extends "admin_blog.twig" %}

{% block title %}

    <title>Utilisateurs</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}

{% block script %}

    {% include ("summernote_cdn.twig") %}

    <script defer src="{{URL}}Public/js/add_image_summernote.js"></script>
    <script defer src="{{URL}}Public/js/summernote_contact_user.js"></script>
    <script defer src="{{URL}}Public/js/search_user.js"></script>
    <script defer src="{{URL}}Public/js/loading_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_error_ajax.js"></script>
    <script defer src="{{URL}}Public/js/message_ajax.js"></script>
    <script defer src="{{URL}}Public/js/change_type_user.js"></script>
    <script defer src="{{URL}}Public/js/send_email.js"></script>
    <script defer src="{{URL}}Public/js/delete_user.js"></script>
    <script defer src="{{URL}}Public/js/menu_admin_mobile.js"></script>
{% endblock %}

{% block admin %}

<div class="panel_admin">

    <noscript> 
    
        <meta http-equiv="refresh" content="0;url={{URL}}no_script"/>

    </noscript>

    <p id="result" class="message_fixed"></p>


    <h1>Rechercher un utilisateur</h1>

    
    

    <div class="input_form search">
        <input id="search_user_input" type="text" placeholder="Saisir le pseudo de l'utilisateur" data-search-url="{{URL}}admin_blog/recherche_utilisateur"/> 
    </div>


    <div id="search_result">
        
    </div>

    

    <div id="user_info">
        <img src="" id="photo_user"/>
        <div id="pseudo"></div>
        <div id="date_inscription"></div>
        <div id="type_user"></div>
    </div>

    <div id="forms">

        <form id="form_type_user" action="{{URL}}admin_blog/type_user" method="POST">
            <input type="hidden" name="id_user" value=""/>
            <div>
                <label>Changer le type de cet utilisateur</label>

                <div class="list_btn_radio">
                    <input type="radio" name="type_user" class="type_user" id="user" value="user" checked>
                    <label for="user">Utilisateur</label>
                    <input type="radio" name="type_user" class="type_user" id="editor" value="editor" >
                    <label for="editor">Editeur</label>
                    <input type="radio" name="type_user" class="type_user" id="admin" value="admin">
                    <label for="admin">Administrateur</label>
                </div>
            </div>
            <button type="submit" class="button-blue">Appliquer le changement</button>
        </form>


        <form id="send_message" action="{{URL}}admin_blog/contact_user" method="POST">
            <input type="hidden" name="id_user" id="id_user" value=""/>
            <div class="input_form">
                <input type="text" id="subject" required name="subject" placeholder="Sujet du message"/>
            </div>
            <textarea id="message_user" required name="message" data-url="{{URL}}summernote/add_image_summernote"></textarea>
            <button class="button-blue">Envoyer le message</button>

        </form>

        <form id="delete_user" method="POST" action="{{URL}}admin_blog/delete_user">
            <input type="hidden" name="id_user" value=""/>
            <button class="button-red">Supprimer cet utilisateur</button>
        </form>
    
    
    </div>

    
</div>
    

{% endblock %}


